body {
    background-color: black;
    color: silver;
}
header {
    background-color: silver;
    color: black;
    margin-bottom: 1em;
}
h1 {
    color: red;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    padding: 1em;
}
main {
    min-height: 100vh;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

button {
    font-size: 1.2em;
    border-radius: 8px;
}
ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em;
}
li {
    color: white;
    font-weight: bold;
    /*background-color: silver;*/
    border: 1px solid silver;
    width: 500px;
    padding: 1em;
    margin: 0.8em;
}
.factory {
    color: aquamarine;
    font-weight: normal;
}
.model {
    color: red;
    font-weight: normal;
}

footer {
    text-align: center;
    background-color: silver;
    color: black;
    font-size: 1.3em;
    padding: 1em;
}
.next {
    display: none;
}
.displayNext {
    display: block;
}
.previous {
    display: none;
}
.displayPrevious {
    display: block;
}